@import '@/app/_styles/functions.scss';
@import '@/app/_styles/var.scss';

.modal {
  text-align: center;
  max-width: toVw(537);
  width: 100%;
  font-family: SFPro, sans-serif;

  &_omi {
    img {
      margin: 0 auto;
      max-width: toVw(135);
    }
  }
}

.title {
  text-transform: capitalize;
  font-size: toVw(20);
  margin-bottom: toVw(8);
}

.subtitle {
  font-size: toVw(14);
  color: #6E6E6E;
  margin-bottom: toVw(53);
}

.img {
  max-width: toVw(238);
  margin: 0 auto toVw(61);
  filter: grayscale(1);

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.content {
  margin-bottom: toVw(44);
}

.text {
  margin: 0 auto toVw(16);
  color: #bfbfbf;
  max-width: toVw(315);
  font-weight: 600;
}


.link {
  color: #6E6E6E;
  font-size: toVw(14);
  font-weight: 500;
  transition: color ease-in .3s;

  &:hover {
    color: #8d8d8d;
  }
}

.btn {
  max-width: toVw(336);
  width: 100%;
  font-size: toVw(16);
  font-weight: 600;
  margin: 0 auto;
}

