@import '@/app/_styles/functions.scss';
@import '@/app/_styles/var.scss';

.fashion {
  padding: toVw(300) 0 toVw(400);
}

.title {
  margin-bottom: toVw(97);
  @media(max-width: $md5 + px) {
    font-size: toVw(70, 390);
  }
}
