@import '@/app/_styles/functions.scss';
@import '@/app/_styles/var.scss';

.progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  padding: toVw(12) toVw(18) toVw(11);
  border: toVw(1) solid #2B2B2B;
  border-radius: toVw(22);
  @media(max-width: $md2 + px) {
    font-size: toVw(12, $md2);
    padding: toVw(12, $md2) toVw(18, $md2) toVw(11, $md2);
    border-radius: toVw(22, $md2);
  }
  @media(max-width: $md4 + px) {
    font-size: toVw(12, $md4);
  }
  @media(max-width: $md5 + px) {
    font-size: toVw(16, 390);
    padding: toVw(12, 390) toVw(18, 390) toVw(11, 390);
    border-radius: toVw(22, 390);
  }
}

.label {
  color: rgba(255, 255, 255, .33);
  margin-right: toVw(12);
}

.points {
  display: flex;

  span {
    &:first-child {
      &::after {
        content: "/";
      }
    }
  }
}
