@import '@/app/_styles/functions.scss';

.wrapper {
  display: flex;
  justify-content: center;
  margin: 0 0 toVw(113);
  position: relative;
  z-index: 2;
}

.screen {
  max-width: toVw(294);
  width: 100%;
  position: relative;

  &:not(:last-child) {
    margin-right: toVw(43);
  }

  &_1 {
    transform: translateX(toVw(337));
  }

  &_2 {
    z-index: 2;
  }

  &_3 {
    transform: translateX(toVw(-337));
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.text {
  color: #fff;
  margin-bottom: toVw(66);
}

.btn {
  font-size: toVw(14);
  padding: toVw(20) toVw(24) toVw(22);
  max-width: toVw(170);
  width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: toVw(31);
}
