@import '@/app/_styles/functions.scss';
@import '@/app/_styles/var';

.wrapper {
  display: flex;
  justify-content: center;
  margin: 0 0 toVw(113);
  position: relative;
  z-index: 2;
  @media(max-width: $md2 + px) {
    margin: 0 0 toVw(113, $md2);
  }
  @media(max-width: $md5 + px) {
    justify-content: flex-start;
    margin-bottom: toVw(75, 390);
  }
}

.screen {
  max-width: toVw(294);
  width: 100%;
  position: relative;
  @media(max-width: $md2 + px) {
    max-width: toVw(294, $md2);
  }
  @media(max-width: $md5 + px) {
    min-width: toVw(188, 390);
    width: toVw(188, 390);
  }

  &:not(:last-child) {
    margin-right: toVw(43);
    @media(max-width: $md2 + px) {
      margin-right: translateX(toVw(43, $md2));
    }
    @media(max-width: $md5 + px) {
      margin-right: toVw(18, 390);
    }
  }

  &_1 {
    transform: translateX(toVw(337));
    @media(max-width: $md2 + px) {
      transform: translateX(toVw(337, $md2));
    }
    @media(max-width: $md5 + px) {
      transform: translate(0);
    }
  }

  &_2 {
    z-index: 2;
  }

  &_3 {
    transform: translateX(toVw(-337));
    @media(max-width: $md2 + px) {
      transform: translateX(toVw(-337, $md2));
    }
    @media(max-width: $md5 + px) {
      display: none;
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.text {
  color: #fff;
  margin-bottom: toVw(66);
  @media(max-width: $md2 + px) {
    margin-bottom: toVw(66, $md2);
  }
  @media(max-width: $md5 + px){
    font-size: toVw(24, 390);
    margin-bottom: toVw(32, 390);
  }
}

.btn {
  padding: toVw(20) toVw(24) toVw(22);
  max-width: toVw(170);
  border-radius: toVw(31);
  width: 100%;
  display: block;
  margin: 0 auto;
  @media(max-width: $md2 + px) {
    padding: toVw(20, $md2) toVw(24, $md2) toVw(22, $md2);
    max-width: toVw(170, $md2);
    border-radius: toVw(31, $md2);
  }
  @media(max-width: $md3 + px) {
    padding: toVw(20, $md3) toVw(24, $md3) toVw(22, $md3);
    max-width: toVw(170, $md3);
    border-radius: toVw(31, $md3);
  }
  @media(max-width: $md4 + px) {
    padding: toVw(20, $md4) toVw(24, $md4) toVw(22, $md4);
    max-width: toVw(170, $md4);
    border-radius: toVw(31, $md4);
  }
  @media(max-width: $md5 + px) {
    padding: toVw(21, 390) toVw(20, 390) toVw(22, 390);
    max-width: toVw(170, 390);
    border-radius: toVw(31, 390);
    margin-left: 0;
  }
}
