@import '@/app/_styles/functions.scss';
@import '@/app/_styles/var.scss';

.timer {
  display: flex;
  justify-content: space-between;
  padding: toVw(9) toVw(22) toVw(9) toVw(22);
  width: fit-content;
  background: #D6F82E;
  color: #000;
  font-size: toVw(16);
  letter-spacing: 0;
  border-radius: toVw(20);
  font-weight: 600;
  @media(max-width: $md2 + px) {
    padding: toVw(9, $md2) toVw(22, $md2) toVw(9, $md2) toVw(22, $md2);
    font-size: toVw(16, $md2);
    border-radius: toVw(20, $md2);
  }
  @media(max-width: $md3 + px) {
    padding: toVw(9, $md3) toVw(22, $md3) toVw(9, $md3) toVw(22, $md3);
    font-size: toVw(16, $md3);
    border-radius: toVw(20, $md3);
  }
  @media(max-width: $md5 + px) {
    display: none;
  }

  &__label {
    white-space: nowrap;
    margin-right: toVw(16);
    @media(max-width: $md3 + px) {
      margin-right: toVw(16, $md3);
    }
  }

  &__timer {
    white-space: nowrap;
    min-width: toVw(57);
    @media(max-width: $md2 + px) {
      min-width: toVw(58, $md2);
    }
  }
}
