@import '@/app/_styles/functions.scss';
@import '@/app/_styles/var.scss';

.wallet {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform ease-in .4s;
  width: toVw(420);
  z-index: 11;
  background: #141414;
  padding: toVw(73) toVw(41) toVw(67) toVw(49);
  height: 100vh;

  overflow: auto;


  &.show {
    transform: translateX(0);
  }

  .title {
    padding-left: toVw(5);
    font-weight: bold;
    margin-bottom: toVw(27);
  }
}

.top {
  margin-bottom: toVw(50);
}

.close {
  position: absolute;
  top: toVw(22);
  right: toVw(22);
  transition: fill ease .2s;
  cursor: pointer;

  &:hover {
    svg {
      fill: #484848;
    }
  }

  svg {
    fill: #333;
  }
}

.top-label {
  margin-bottom: toVw(16);
  font-size: toVw(14);
  font-weight: 600;
}

.radio {
  background: #1E1E1E;
  border-radius: toVw(9);
  padding: toVw(14) toVw(14) toVw(16) toVw(14);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.current {
    background: #1F2918;
  }

  &.other {
    color: rgba(255, 255, 255, 0.25);
  }

  &:not(:last-child) {
    margin-bottom: toVw(8);
  }
}

.course {
  color: #D6F82E;
  font-size: toVw(14);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: toVw(400);
}

.powered {
  display: flex;
  align-items: center;

  img {
    display: block;
    margin-right: toVw(11);
  }

  span {
    margin-right: toVw(7);
  }
}

.block {
  &:not(:last-child) {
    margin-bottom: toVw(13);
  }
}

.text {
  padding-left: toVw(5);
  font-size: toVw(14);
  color: #B8B8B8;
  margin-bottom: toVw(78);

  p {
    &:not(:last-child) {
      margin-bottom: toVw(26);
    }
  }
}
