@import '@/app/_styles/functions.scss';
@import '@/app/_styles/var.scss';

.wallet {
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform cubic-bezier(.15, .85, .45, 1) .4s;
  width: toVw(420);
  z-index: 11;
  backdrop-filter: blur(10px);
  background-color: rgba(20, 20, 20, 0.88);
  padding: toVw(67) toVw(41) toVw(67) toVw(41);
  height: 100vh;

  overflow: auto;


  &.show {
    transform: translateX(0);

    .title,
    .powered,
    .block,
    .text {
      opacity: 1;
    }
  }

  &.isTop {
    .text {
      opacity: 0;
    }
  }

  .title {
    padding-left: toVw(5);
    font-weight: bold;
    margin-bottom: toVw(27);

  }
}

.title,
.powered,
.text {
  opacity: 0;
  transition: opacity cubic-bezier(.15, .85, .45, 1) .3s .3s;
}

.top {
  margin-bottom: toVw(50);
}

.close {
  position: absolute;
  top: toVw(22);
  right: toVw(22);
  transition: fill ease .2s;
  cursor: pointer;

  &:hover {
    svg {
      fill: #484848;
    }
  }

  svg {
    fill: #333;
  }
}

.top-label {
  margin-bottom: toVw(16);
  font-size: toVw(14);
  font-weight: 600;
}

.radio {
  background: #1E1E1E;
  border-radius: toVw(9);
  padding: toVw(14) toVw(14) toVw(16) toVw(14);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &.current {
    background: #1F2918;
  }

  &.other {
    justify-content: flex-start;
  }

  &:not(:last-child) {
    margin-bottom: toVw(8);
  }
}

.course {
  color: #D6F82E;
  font-size: toVw(14);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: toVw(400);
}

.powered {
  display: flex;
  align-items: center;

  img {
    display: block;
    margin-right: toVw(11);
  }

  span {
    margin-right: toVw(7);
  }
}

.block {
  max-height: 200px;
  overflow: hidden;
  transition: opacity cubic-bezier(0, .68, .39, 1.02) 1s,
  max-height cubic-bezier(0, .68, .39, 1.02) 1s;


  .block_content {
    opacity: 0;
    max-height: 0;
    pointer-events: none;
    transition: opacity cubic-bezier(0, .68, .39, 1.02) 1s,
    max-height cubic-bezier(0, .68, .39, 1.02) 1s;

  }

  &_top {
    max-height: 700px;

    .block_content {
      opacity: 1;
      max-height: 400px;
      transition: opacity cubic-bezier(0, .68, .39, 1.02) 1s,
      max-height cubic-bezier(0, .68, .39, 1.02) 1s;

      pointer-events: auto;
    }
  }

  &:not(:last-child) {
    margin-bottom: toVw(13);
  }
}

.input {
  background: none;
  font-size: toVw(14);
  padding: 0 toVw(5);
  text-align: left;
  border: none;
  border-radius: 0;

  &::placeholder {
    text-align: left;
  }

  &:hover, &:focus {
    background: none;
  }
}

.text {
  padding-left: toVw(5);
  font-size: toVw(14);
  color: #B8B8B8;
  margin-bottom: toVw(78);

  p {
    &:not(:last-child) {
      margin-bottom: toVw(26);
    }
  }
}
