@import '@/app/_styles/functions.scss';
@import '@/app/_styles/var.scss';

.catalog {
  width: calc(100% + toVw(2));
  position: relative;
  left: toVw(-1);

  &__btn {
    margin: toVw(58) auto 0;
    font-weight: 600;
    max-width: toVw(292);
    font-size: toVw(14);
  }
}

.item {
  &:not(:first-child) {
    .card {
      border-left: none;
    }
  }
}

.card {
  height: 100%;

  &:not(:first-child) {
    position: relative;
    left: toVw(-1);
  }

  @media(max-width: $md5 + px) {
    border-bottom: none;
  }
}

.label {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: toVw(31);
  font-weight: 600;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  @media(max-width: $md5 + px) {
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid #1F1F1F;
  }

  &.row-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @media(max-width: $md5 + px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}

