@import '@/app/_styles/functions.scss';

.btn {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #1C1C1C;
  transition: background-color ease-in .2s;
  color: var(--white);
  font-weight: 600;
  font-size: toVw(14);
  padding: toVw(15) toVw(45) toVw(15) toVw(25);
  border-radius: toVw(28);
  min-height: toVw(55);

  &:hover {
    background-color: #363636;
  }

  &.white {
    color: var(--dark);
    background-color: var(--white);

    &:hover {
      background-color: var(--graySecondary);
    }
  }
}

.icon {
  display: block;
  margin-right: toVw(16);
  width: toVw(16);
  height: auto;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: toVw(24);
  fill: var(--white);
  pointer-events: none;

  &.black {
    fill: var(--dark);
  }
}
