@import '@/app/_styles/functions.scss';
@import '@/app/_styles/var.scss';

.card {
  font-family: SFPro, sans-serif;
  font-weight: 600;
  height: 100%;
  border: 1px solid #1F1F1F;
  padding: toVw(28) toVw(24) toVw(50);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  @media(max-width: $md2 + px) {
    padding: toVw(28, $md2) toVw(24, $md2) toVw(50, $md2);
  }
  @media(max-width: $md5 + px) {
    margin: toVw(1, 390);
    padding: toVw(28, 390) 0 toVw(32, 390);
    border: none;
  }

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.model {
  position: absolute;
  top: toVw(28);
  right: toVw(24);
  width: toVw(43);
  height: toVw(43);
  border-radius: 50%;
  background-color: #1B1A20;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: toVw(17);
  font-weight: 600;
  line-height: 1.1em;

  @media(max-width: $md3 + px) {
    font-size: toVw(12, $md3);
    top: toVw(12, $md3);
    right: toVw(12, $md3);
    width: toVw(24, $md3);
    height: toVw(24, $md3);
  }
  @media(max-width: $md5 + px) {
    font-size: toVw(12, $md5);
    top: toVw(19, $md5);
    left: 0;
    right: auto;
    width: toVw(36, $md5);
    height: toVw(36, $md5);
    background: none;
    border: toVw(1, 390) solid #292730;
  }
}

.img {
  display: flex;
  margin: 0 auto;
  width: toVw(202);
  min-height: toVw(312);
  align-items: center;
  justify-content: center;
  @media(max-width: $md3 + px) {
    width: 75%;
    height: 100%;
  }
  @media(max-width: $md5 + px) {
    max-width: toVw(245, 390);
    &:not(:last-child){
      margin-bottom: toVw(30, 390);
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.img_1 {
  max-width: toVw(10);
  @media(max-width: $md2 + px) {
    max-width: toVw(10, $md2);
  }
  @media(max-width: $md4 + px) {
    max-width: toVw(10, $md4);
  }
}

.img_2 {
  max-width: toVw(7);
  @media(max-width: $md2 + px) {
    max-width: toVw(7, $md2);
  }
  @media(max-width: $md4 + px) {
    max-width: toVw(7, $md4);
  }
}

.img_3 {
  max-width: toVw(11);
  @media(max-width: $md2 + px) {
    max-width: toVw(11, $md2);
  }
  @media(max-width: $md4 + px) {
    max-width: toVw(11, $md4);
  }
}

.img_4 {
  max-width: toVw(10.7);
  @media(max-width: $md2 + px) {
    max-width: toVw(10.7, $md2);
  }
  @media(max-width: $md4 + px) {
    max-width: toVw(10.7, $md4);
  }
}

.stats {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: toVw(30);
  @media(max-width: $md2 + px) {
    margin-bottom: toVw(30, $md2);
  }
}

.stat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: toVw(14);
  font-weight: 600;
  @media(max-width: $md2 + px) {
    font-size: toVw(14, $md2);
  }
  @media(max-width: $md4 + px) {
    font-size: toVw(12, $md4);
  }

  &:not(:last-child) {
    margin-right: toVw(18);
    @media(max-width: $md2 + px) {
      margin-right: toVw(12, $md2);
    }
    @media(max-width: $md4 + px) {
      margin-right: toVw(8, $md4);
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: toVw(7);
  }
}

.bottom {
  margin-top: toVw(50);
}

.btn {
  font-weight: 600;
  max-width: toVw(206);
  margin: 0 auto;
  position: relative;
  z-index: 2;
  @media(max-width: $md2 + px) {
    max-width: toVw(206, $md2);
  }
  @media(max-width: $md4 + px) {
    max-width: 100%;
  }
  /*  &::hover {
      .btn__text {
        &::fir
      }
    }*/


  &__text {
    display: block;
    opacity: 1;
    pointer-events: auto;
    //transition: opacity ease-in .2s;

    &.hide {
      opacity: 0;
      pointer-events: none;
      width: 0;
      height: 0;
    }
  }
}

.rarity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: toVw(20, 390) 0;
  border-top: toVw(1, 390) solid #33363E;
  margin-bottom: toVw(27, 390);

  &__label {
    font-size: toVw(12, 390);
    white-space: nowrap;
  }

  &__type {
    display: flex;
    font-size: toVw(10, 390);

    span {
      color: #4F4F4F;
      display: block;

      &:not(:last-child) {
        margin-right: toVw(8, 390);
      }

      &.current {
        color: #fff;
      }
    }
  }
}
