@import '@/app/_styles/functions.scss';
@import '@/app/_styles/var.scss';

.list {
  position: relative;
  display: flex;
  background: #1C1C1C;
  border-radius: toVw(16);
  overflow: hidden;
  width: fit-content;
  @media(max-width: $md2 + px) {
    border-radius: toVw(16, $md2);
  }
  @media(max-width: $md3 + px) {
    border-radius: toVw(16, $md3);
  }
  @media(max-width: $md4 + px) {
    margin: 0 auto;
    border-radius: toVw(16, $md4);
  }
  @media(max-width: $md5 + px) {
    border-radius: toVw(16, 390);
  }

}

.elem {
  position: relative;
}

.selector {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--secondary);
  border-radius: toVw(16);
  @media(max-width: $md2 + px) {
    border-radius: toVw(16, $md2);
  }
  @media(max-width: $md3 + px) {
    border-radius: toVw(16, $md3);
  }
  @media(max-width: $md4 + px) {
    border-radius: toVw(16, $md4);
  }
  @media(max-width: $md5 + px) {
    border-radius: toVw(16, 390);
  }
}

.tab {
  padding: toVw(7) toVw(25);
  color: rgba(255, 255, 255, 0.3);
  transition: color ease-in .3s, background-color ease-in .3s;
  font-size: toVw(14);
  @media(max-width: $md2 + px) {
    font-size: toVw(14, $md2);
    padding: toVw(7, $md2) toVw(25, $md2);
  }
  @media(max-width: $md3 + px) {
    font-size: toVw(14, $md3);
    padding: toVw(7, $md3) toVw(12, $md3);
  }
@media(max-width: $md4 + px){
  font-size: toVw(14, $md4);
  padding: toVw(7, $md4) toVw(20, $md4);
}
@media(max-width: $md5 + px){
  font-size: toVw(14, 390);
  padding: toVw(7, 390) toVw(20, 390);
}
  &.active {
    color: #fff;
  }

  &:hover {
    color: #fff;
  }
}
