@import '@/app/_styles/functions.scss';

.header {
  padding: toRem(16) 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;

  &__btn {
    height: 100%;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  max-width: toRem(100);
  width: 100%;
  overflow: hidden;
  margin-right: toRem(65);

  img {
    max-width: toRem(100);
    display: block;
    width: 100%;
    height: auto;
  }
}

.right {
  display: flex;
}

.bag, .balance {
  margin-right: toRem(6);
  min-width: toRem(142);
}

.user {
  margin-left: toRem(8);
  display: flex;
  align-items: center;
}

.avatar {
  width: toRem(33);
  height: toRem(33);
  margin-right: toRem(15);

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.name {
  font-size: toRem(12);
}
