@import '@/app/_styles/functions.scss';
@import '@/app/_styles/var.scss';

.header {
  padding: toVw(16) 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  &.black {
    background: #000;
  }

  @media(max-width: $md4 + px) {
    padding: toVw(16, $md4) 0;
  }
  @media(max-width: $md5 + px) {
    background: #000;
    padding: toVw(23, 390) 0;
    border-bottom: toVw(1, 390) solid #1F1F1F;
  }

  &__btn {
    height: 100%;
    @media(max-width: $md5 + px) {
      display: none;
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  min-width: toVw(390);
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  max-width: toVw(100);
  width: 100%;
  overflow: hidden;
  margin-right: toVw(65);

  @media(max-width: $md2 + px) {
    max-width: toVw(100, $md2);
    margin-right: toVw(65, $md2);
  }
  @media(max-width: $md4 + px) {
    max-width: toVw(100, $md4);
    margin-right: toVw(32, $md4);
  }
  @media(max-width: $md5 + px) {
    max-width: toVw(71, 390);
    margin-right: toVw(32, 390);
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.right {
  display: flex;
  justify-content: flex-end;
  min-width: toVw(390);
  @media(max-width: $md5 + px) {
    align-items: center;
  }
}

.bag, .balance {
  display: block;
  height: 100%;
  margin-right: toVw(6);
  min-width: toVw(142);
  @media(max-width: $md2 + px) {
    min-width: toVw(142, $md2);
    margin-right: toVw(6, $md2);
  }
  @media(max-width: $md4 + px) {
    min-width: toVw(142, $md4);
    margin-right: toVw(6, $md4);
  }
  @media(max-width: $md5 + px) {
    margin-right: toVw(8, 390);
    min-width: toVw(99, 390);
  }

}

.user {
  margin-left: toVw(8);
  display: flex;
  align-items: center;
}

.avatar {
  width: toVw(33);
  height: toVw(33);
  @media(max-width: $md2 + px) {
    width: toVw(33, $md2);
    height: toVw(33, $md2);
  }
  @media(max-width: $md4 + px) {
    width: toVw(33, $md4);
    height: toVw(33, $md4);
  }
  @media(max-width: $md5 + px) {
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.name {
  font-size: toVw(12);
  @media(max-width: $md2 + px) {
    font-size: toVw(12, $md2);
  }
  @media(max-width: $md4 + px) {
    display: none;
  }
  @media(max-width: $md5 + px) {
  }
}

.list {
  display: flex;
  background: #1C1C1C;
  border-radius: toVw(16);
}
.elem{
  position: relative;
  &:not(:first-child) {
    margin-left: toVw(-12);
  }
}
.tab {
  padding: toVw(7) toVw(25);
  color: rgba(255, 255, 255, 0.3);
  transition: color ease-in .3s, background-color ease-in .3s;
  font-size: toVw(14);
  border-radius: toVw(16);

  &.active {
    color: #fff;
    background-color: var(--secondary);
  }

  &:hover {
    color: #fff;
  }
}
