@import '@/app/_styles/functions.scss';

.clothe {
  padding-top: toVw(100);
}

.img {
  position: relative;
  max-width: toVw(476);
  width: 100%;
  margin: 0 auto toVw(156);
}

.info {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: toVw(30);
  background-color: #151515;
  padding: toVw(14) toVw(15) toVw(15) toVw(36);
  margin-bottom: toVw(112);
}

.left {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
}

.category {
  text-transform: uppercase;

  &:not(:last-child) {
    margin-right: toVw(24);
  }

  &:last-child {
    color: var(--gray);
  }
}

.stats {
  display: flex;

  &:not(:last-child) {
    margin-right: toVw(86);
  }
}

.stat {
  display: flex;
  align-items: center;

  img {
    display: block;
    margin-right: toVw(10);
  }

  span {
    position: relative;
    bottom: 0.1em;
  }

  &:not(:last-child) {
    margin-right: toVw(24);
  }
}

.price {
  font-family: SFPro, sans-serif;
  margin-right: toVw(25);
}

.btn__buy {
  flex: 0 0 toVw(136);
  display: block;
  padding: toVw(7) toVw(15) toVw(8);
  min-width: toVw(136);
  width: 100%;
}
