@import '@/app/_styles/functions.scss';
@import '@/app/_styles/var.scss';

.burger {
  position: relative;
  top: 0;
  right: 0px;
  min-width: toVw(48);
  width: toVw(48);
  height: toVw(9);
  cursor: pointer;
  z-index: 5;
  @media(max-width: $md4 + px){
    min-width: toVw(48, $md4);
    width: toVw(48, $md4);
    height: toVw(9, $md4);
  }
  @media(max-width: $md5 + px) {
    min-width: toVw(48, 420);
    width: toVw(48, 420);
    height: toVw(9, 420);
  }

  span {
    position: absolute;
    transition: all .3s ease 0s;
    top: calc(50% - toVw(1));
    left: 0;
    height: toVw(2);
    width: 100%;
    background: #fff;
    display: block;
    @media(max-width: $md5 + px) {
      height: toVw(2, $md4);
    }
    @media(max-width: $md5 + px) {
      height: toVw(2, 420);
    }

    &:first-child {
      top: 0;
    }

    &:last-child {
      top: auto;
      bottom: 0;
    }
  }

  &.active {
    span {
      transform: scale(0);

      &:first-child {
        transform: rotate(-45deg);
        top: 50%;
      }

      &:last-child {
        transform: rotate(45deg);
        bottom: calc(50% - toVw(2));
        @media(max-width: $md5 + px) {
          bottom: calc(50% - toVw(2, $md4));
        }
        @media(max-width: $md5 + px) {
          bottom: calc(50% - toVw(3, 420));
        }
      }
    }
  }
}
