@import '@/app/_styles/functions.scss';
@import '@/app/_styles/var';

.dropdown {
  position: relative;

  &__menu {
    min-width: toVw(160);
    position: absolute;
    top: calc(100% + 15px);
    left: 0;
    width: 100%;
    background-color: #161616;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity, max-height ease-in .3s;
    border-radius: toVw(16);

    &.center {
      left: 50%;
      transform: translateY(-50%);
    }

    &.right {
      left: auto;
      right: 0;
    }

    &.show {
      max-height: 50vh;
      opacity: 1;
    }
  }
}

.link {
  display: block;
  padding: toVw(18) toVw(24) toVw(18);
  transition: background-color ease-in .2s;
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
  font-size: toVw(14);

  &:not(:last-child) {
    border-bottom: 1px solid #232323;
  }

  &_icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &:hover {
    background-color: #252525;
  }
}

.icon {
  display: block;
  margin-right: toVw(19);
}
