@import '@/app/_styles/functions.scss';

.card {
  position: relative;
  border-radius: toVw(31);
  padding: toVw(50) toVw(27) toVw(45) toVw(27);
  background-color: #111111;
}

.settings {
  position: absolute;
  top: toVw(15);
  left: toVw(15);
  width: toVw(21);
  height: toVw(21);
  border-radius: 50%;
  background-color: #343434;
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span {
    flex: 0 0 3px;
    border-radius: 50%;
    display: block;
    width: 3px;
    height: 3px;
    background-color: #111111;
    margin: 0 1px;
  }
}

