@import '@/app/_styles/functions.scss';

.card {
  max-width: toRem(353);
  width: 100%;
  text-align: center;
}

.img {
  max-width: toRem(210);
  width: 100%;
  margin: 0 auto toRem(50);

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.label {
  text-transform: uppercase;
  margin-bottom: toRem(6);
}

.collection {
  color: #828282;
  font-size: toRem(14);
}
