@import '@/app/_styles/functions.scss';
@import '@/app/_styles/var.scss';

.card {
  width: 100%;
  text-align: center;
}

.img {
  max-width: toVw(210);
  width: 100%;
  margin: 0 auto toVw(50);
  @media(max-width: $md2 + px) {
    margin-bottom: toVw(50, $md2);
    max-width: 100%;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.label {
  text-transform: uppercase;
  margin-bottom: toVw(6);
}

.collection {
  color: #828282;
  font-size: toVw(14);
  @media(max-width: $md2 + px) {
    font-size: toVw(14, $md2);
  }
  @media(max-width: $md3 + px) {
    font-size: toVw(14, $md3);
  }
  @media(max-width: $md4 + px) {
    font-size: toVw(14, $md4);
  }
  @media(max-width: $md5 + px) {
    font-size: toVw(14, 390);
  }
}
