@import '@/app/_styles/functions.scss';

.balance {
  padding: toRem(5) toRem(18) toRem(6);
  border: toRem(1) solid #2B2B2B;
  max-width: toRem(142);
  width: 100%;
  margin-right: toRem(6);
  color: #fff;
  font-weight: 600;
  border-radius: toRem(17);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.count {
  color: var(--green);
}
