@import '@/app/_styles/functions.scss';

.title {
  text-align: center;
  font-weight: 400;
  letter-spacing: -0.03em;

  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }
}


