@import '@/app/_styles/functions.scss';
@import '@/app/_styles/var.scss';

.img {
  display: block;
  max-width: toVw(1003);
  margin: 0 auto;
  @media(max-width: $md3 + px) {
    max-width: 100%;
  }
  @media(max-width: $md5 + px) {
    max-width: 180%;
    width: 180%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.block {
  .text {
    position: relative;
    max-width: toVw(709);
    margin: toVw(-118) auto toVw(70);
    font-size: toVw(30);
    @media(max-width: $md3 + px) {
      max-width: toVw(709, $md3);
      margin: toVw(-118, $md3) auto toVw(70, $md3);
      font-size: toVw(30, $md3);
    }
    @media(max-width: $md5 + px) {
      text-align: center;
      font-size: toVw(18, 390);
      max-width: toVw(300, 390);
    }
  }
}

.available {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  border: 1px solid #2d2d2d;
  padding: toVw(17) toVw(30) toVw(17);
  border-radius: toVw(16);

  img {
    display: block;
    margin-right: toVw(15);
    width: toVw(22);
    height: auto;
  }

  @media(max-width: $md3 + px) {
    padding: toVw(17, $md3) toVw(30, $md3) toVw(17, $md3);
    border-radius: toVw(16, $md3);
    img {
      width: toVw(22, $md3);
      margin-right: toVw(15, $md3);
    }
  }
  @media(max-width: $md5 + px) {
    text-align: center;
    font-size: toVw(12, 390);
    padding: toVw(14, 390) toVw(45, 390) toVw(14, 390);
    border-radius: toVw(16, 390);
    img {
      width: toVw(22, 390);
      margin-right: toVw(15, 390);
    }
  }
}
