@import '@/app/_styles/functions.scss';

.login {
  display: flex;
  flex-direction: column;

  min-height: calc(100vh - toVw(60));
  padding-bottom: toVw(60);

  .title {
    text-align: left;
  }
}

.close {
  position: absolute;
  top: toVw(22);
  right: toVw(22);
  transition: fill ease .2s;

  &:hover {
    svg {
      fill: #484848;
    }
  }

  svg {
    fill: #333;
  }

}

.container {
  position: relative;
  max-width: toVw(754);
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.content {
  margin-bottom: toVw(80);
}

.description {
  margin-bottom: toVw(56);
}


.text {
  color: #9D9D9D;
  font-weight: 500;
  font-size: toVw(18);

  &_small {
    font-size: toVw(14);
  }
}

.fields {
  &:not(:last-child) {
    margin-bottom: toVw(72);
  }
}

.input {
  &:not(:last-child) {
    margin-bottom: toVw(20);
  }
}

.btns {
  display: flex;
}

.btn {
  &:not(:last-child) {
    margin-right: toVw(9);
  }
}

.nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
