@import '@/app/_styles/functions.scss';
@import '@/app/_styles/var';

.login {
  display: flex;
  flex-direction: column;

  min-height: calc(100vh - toVw(60));
  padding-bottom: toVw(60);
  @media(max-width: $md5 + px) {
    padding-top: toVw(40, 390);
    padding-bottom: toVw(36, 390);

    &.safary {
      padding-bottom: toRem(115);
    }
  }

  .title {
    text-align: left;
    @media(max-width: $md5 + px) {
      margin-bottom: toVw(15, 390);
    }
  }
}

.welcome {
  @media(max-width: $md5 + px) {
    .container {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      flex-grow: 1;
    }
    .content {
      flex-grow: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: toRem(50);
    }
  }
}

.close {
  position: absolute;
  top: toVw(22);
  right: toVw(22);
  transition: fill ease .2s;
  @media(max-width: $md4 + px) {
    top: toRem(15);
    right: toRem(15);
  }

  &:hover {
    svg {
      fill: #484848;
    }
  }

  svg {
    fill: #333;
  }

}

.container {
  position: relative;
  max-width: toVw(754);
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  @media(max-width: $md2 + px) {
    max-width: toVw(754, $md2);
  }
  @media(max-width: $md4 + px) {
    max-width: 100%;
  }
  @media(max-width: $md5 + px) {
    justify-content: flex-start;
  }
}

.content {
  margin-bottom: toRem(80);
}

.description {
  margin-bottom: toVw(56);
  @media(max-width: $md2 + px) {
    margin-bottom: toVw(56, $md2);
  }
  @media(max-width: $md4 + px) {
    margin-bottom: toVw(36, $md4);
  }
  @media(max-width: $md5 + px) {
    margin-bottom: toVw(65, 390);
  }
}


.text {
  color: #9D9D9D;
  font-weight: 500;
  font-size: toVw(18);
  @media(max-width: $md2 + px) {
    font-size: toVw(18, $md2);
  }
  @media(max-width: $md3 + px) {
    font-size: toVw(18, $md3);
  }
  @media(max-width: $md4 + px) {
    font-size: toVw(16, $md4);
  }
  @media(max-width: $md5 + px) {
    font-size: toVw(14, 390);
  }

  &_small {
    font-size: toVw(14);
    @media(max-width: $md2 + px) {
      font-size: toVw(14, $md2);
    }
    @media(max-width: $md3 + px) {
      font-size: toVw(14, $md3);
    }
    @media(max-width: $md4 + px) {
      font-size: toVw(14, $md4);
    }
    @media(max-width: $md5 + px) {
      font-size: toVw(14, 390);
    }
  }
}

.fields {
  &:not(:last-child) {
    margin-bottom: toVw(72);
    @media(max-width: $md4 + px) {
      margin-bottom: toVw(25, $md4);
    }
    @media(max-width: $md5 + px) {
      margin-bottom: toVw(25, 390);
    }
  }
}

.input {
  &:not(:last-child) {
    margin-bottom: toVw(20);
    @media(max-width: $md2 + px) {
      margin-bottom: toVw(20, $md2);
    }
    @media(max-width: $md4 + px) {
      margin-bottom: toRem(20, $md4);
    }
    @media(max-width: $md5 + px) {
      margin-bottom: toVw(20, 390);
    }
  }
}

.btns {
  display: flex;
  margin-bottom: toVw(34);
  @media(max-width: $md2 + px) {
    margin-bottom: toVw(34, $md2);
  }
  @media(max-width: $md4 + px) {
    margin-bottom: toVw(28, $md4);
  }
  @media(max-width: $md5 + px) {
    display: block;
    margin-bottom: toVw(28, 390);
  }
}

.btn {
  &:not(:last-child) {
    margin-right: toVw(9);
    @media(max-width: $md2 + px) {
      margin-right: toVw(9, $md2);
    }
    @media(max-width: $md4 + px) {
      margin-right: toVw(9, $md4);
    }
    @media(max-width: $md5 + px) {
      margin-bottom: toVw(9, 390);
    }
  }
}

.sign {
  display: flex;
  @media(max-width: $md5 + px) {
    font-size: toVw(14, 390);
    font-weight: 600;
  }

  span {
    display: block;
    margin-right: toRem(5);
  }

  a {
    transition: color ease-in .3s;

    &:hover {
      color: var(--graySecondary);
    }
  }
}

.nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: toRem(29);
  @media(max-width: $md4 + px) {
    display: block;
    margin-bottom: toRem(20, $md4);
  }

  @media(max-width: $md5 + px) {
    margin-bottom: toVw(20, 390);
  }
}

.code {
  margin-bottom: toVw(40);
  @media(max-width: $md4 + px) {
    margin-bottom: toVw(30, $md4);
  }
  @media(max-width: $md5 + px) {
    margin-bottom: toVw(25, 390);
  }
}
