@import '@/app/functions.scss';

.text {
  margin-bottom: toRem(125);
}

.btns {
  display: flex;
  align-items: center;
  padding: toRem(5); /* 0.26vw to rem */
  min-height: toRem(641); /* 32.97vw to rem */
}

.btn {
  cursor: pointer;
  border: toRem(1) solid #575757; /* 0.05vw to rem */
  border-radius: toRem(266); /* 13.75vw to rem */
  width: 100%;
  height: toRem(528); /* 27.50vw to rem */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all ease 0.5s !important;
  background: none;
  color: #fff;
}

.btn-text {
  text-transform: uppercase;
  color: #818181;
  font-size: toRem(18.12); /* 0.94vw to rem */
  font-weight: 600;
  text-align: center;
  position: relative;
  top: toRem(-42.09); /* -2.19vw to rem */
}

.btn-label {
  display: flex;
  align-items: center;
}

.btn-icon {
  width: toRem(48); /* 2.50vw to rem */
  margin-right: toRem(9.92); /* 0.52vw to rem */

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.btn-name {
  font-size: toRem(48.96); /* 2.55vw to rem */
  letter-spacing: -0.01em;
}
