@import '@/app/_styles/functions.scss';
@import '@/app/_styles/var.scss';

.list {
  display: flex;
}

.elem {
  &:not(:last-child) {
    margin-right: toVw(6);
    @media(max-width: $md2 + px) {
      margin-right: toVw(6, $md2);
    }
  }
}

.link {
  text-transform: uppercase;
  color: var(--gray);
  font-weight: 600;
  font-size: toVw(12);
  letter-spacing: 0.03em;
  padding: toVw(8) toVw(18) toVw(8);
  transition: all ease-in .3s;
  border-radius: toVw(17);
  background-color: #202020;
  white-space: nowrap;
  @media(max-width: $md2 + px) {
    font-size: toVw(12, $md2);
    padding: toVw(8, $md2) toVw(18, $md2) toVw(8, $md2);
    border-radius: toVw(17, $md2);
  }
  @media(max-width: $md4 + px) {
    font-size: toVw(12, $md4);
    padding: toVw(8, $md4) toVw(18, $md4) toVw(8, $md4);
    border-radius: toVw(17, $md4);
  }

  &:hover {
    background-color: var(--graySecondary);
    color: var(--dark);
  }


  &.active {
    background-color: var(--graySecondary);
    color: var(--dark);
  }
}
