@import '@/app/_styles/functions.scss';
@import '@/app/_styles/var.scss';

.gallery {
  padding-top: toVw(72);
  margin-bottom: toVw(250);

  &__title {
    @media(max-width: $md5 + px) {
      text-align: left;
      margin-bottom: toVw(-20, 390);
    }
  }

  &__text {
    @media(max-width: $md5 + px) {
      text-align: left;
    }
  }
}

.catalog {
  margin-bottom: toVw(209);
  @media(max-width: $md3 + px) {
    margin-bottom: toVw(155, $md3);
  }
  @media(max-width: $md4 + px) {
    margin-bottom: toVw(155, $md4);
  }
  @media(max-width: $md5 + px) {
    margin-bottom: toVw(122, 390);
  }
}

.omi-world {
  margin-bottom: toVw(430);

  &__title {
    @media(max-width: $md5 + px) {
      text-align: left;
      margin-bottom: toVw(-85, 390);
    }
  }

  &__text {
    margin-bottom: toVw(136);
    @media(max-width: $md5 + px) {
      text-align: left;
      margin-bottom: toVw(56, 390);
    }
  }
}

.zero {
  margin-bottom: toVw(360);

  &__text {
    margin-bottom: toVw(86);
  }

  &__catalog {
    display: flex;
    max-width: toVw(1642);
    width: 100%;
    overflow: hidden;
    border: 1px solid #1F1F1F;
    border-radius: toVw(47);
    margin: 0 auto toVw(73);

  }

  &__btn {
    display: block;
    font-family: SFPro, sans-serif;
    font-weight: 600;
    margin: 0 auto;
    padding: toVw(21) toVw(20) toVw(22);
    max-width: toVw(170);
    width: 100%;
    margin: 0 auto;
    border-radius: toVw(31);
  }
}

.available {
  margin-bottom: toVw(310);

  &__text {
    margin-bottom: toVw(113);
  }
}

.screens {
  margin-bottom: toVw(264);
}

.decor {
  position: relative;
  top: toVw(5);
}

.questions {
  position: relative;
}
