@import '@/app/_styles/functions.scss';

.inventory {
  margin-top: toVw(16);
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: toVw(17) 0 toVw(14);
  border-bottom: toVw(1) solid #151515;
  border-top: toVw(1) solid #151515;
  position: fixed;
  left: 0;
  width: 100%;
  top: toVw(68);
  background-color: #000;
  z-index: 8;
}

.list {
  display: flex;
}

.elem {
  &:not(:last-child) {
    margin-right: toVw(8);
  }
}

.tab {
  color: rgba(255, 255, 255, .3);
  font-size: 14px;
  font-weight: 600;
  padding: toVw(6) toVw(12);
  border-radius: toVw(17);
  transition: color, background-color ease-in .3s;

  &:hover {
    background-color: rgba(255, 255, 255, .3);
    color: var(--white);
  }

  &.active {
    background-color: rgba(255, 255, 255, .3);
    color: var(--white);
  }
}

.body {
  min-height: 80vh;
  padding: toVw(100) 0 toVw(30);
}

.catalog {

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: toVw(8);

  &_flex {
    display: flex;
    flex-wrap: wrap;
  }

  &:not(:last-child) {
    margin-bottom: toVw(43);
  }
}

/*.card {
  margin: toVw(2) 0;

  &:not(:last-child) {
    margin-right: toVw(4);
  }
}*/

.label__mineral {
  text-transform: uppercase;
  font-weight: 600;
  color: #9C9C9C;
  margin-bottom: toVw(15);
}
