@import '@/app/_styles/functions.scss';

.inventory {
  margin-top: toRem(16);
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: toRem(17) 0 toRem(14);
  border-bottom: toRem(1) solid #151515;
  border-top: toRem(1) solid #151515;
}

.list {
  display: flex;
}

.elem {
  &:not(:last-child) {
    margin-right: toRem(8);
  }
}

.tab {
  color: rgba(255, 255, 255, .3);
  font-size: 14px;
  font-weight: 600;
  padding: toRem(6) toRem(12);
  border-radius: toRem(17);
  transition: color, background-color ease-in .3s;

  &:hover {
    background-color: rgba(255, 255, 255, .3);
    color: var(--white);
  }

  &.active {
    background-color: rgba(255, 255, 255, .3);
    color: var(--white);
  }
}

.body {
  min-height: 80vh;
  padding: toRem(30) toRem(32) toRem(30);
}

.catalog {
  display: flex;
  flex-wrap: wrap;

  &:not(:last-child) {
    margin-bottom: toRem(43);
  }
}

.card {
  margin: toRem(2) 0;

  &:not(:last-child) {
    margin-right: toRem(4);
  }
}

.label__mineral {
  text-transform: uppercase;
  font-weight: 600;
  color: #9C9C9C;
  margin-bottom: toRem(15);
}
