@import '@/app/_styles/functions.scss';

.inventory {
  margin-top: toVw(16);
}

.list {
  display: flex;
}

.elem {
  &:not(:last-child) {
    margin-right: toVw(8);
  }
}

.body {
  min-height: 80vh;
  padding: toVw(20) 0 toVw(30);
}

.catalog {

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: toVw(8);

  &_flex {
    display: flex;
    flex-wrap: wrap;
  }

  &:not(:last-child) {
    margin-bottom: toVw(43);
  }
}

.wrapper {
  display: flex;
}

.col {
  &:not(:last-child) {
    margin-right: toVw(73);
  }
}

/*.card {
  margin: toVw(2) 0;

  &:not(:last-child) {
    margin-right: toVw(4);
  }
}*/

.label__mineral {
  text-transform: uppercase;
  font-weight: 600;
  color: #9C9C9C;
  margin-bottom: toVw(15);
}
