@import '@/app/_styles/functions.scss';

.hero {
  position: relative;

  &__title {
    width: fit-content;
    margin: 0 auto;
    position: relative;
  }
}
.text{
  margin-bottom: toVw(90);
}
.timer {
  position: absolute;
  top: 15%;
  right: -10%;
}

.catalog {
  margin-bottom: toVw(130);
}
