@import '@/app/_styles/functions.scss';
@import '@/app/_styles/var';

.catalog {
  display: flex;

}
.card {
  min-width: toVw(383);
  width: toVw(383);
  border: none;
  position: relative;
  @media(max-width: $md3 + px){
    min-width: toVw(300, $md3);
    width: toVw(300, $md3);
    height: toVw(300, $md3);
  }
}
