@import '@/app/_styles/functions.scss';
@import '@/app/_styles/var.scss';

.wallet {
  background: #0A0A0A;
  border-radius: toVw(27);
  padding: toVw(29) toVw(33) toVw(22) toVw(33);
  min-height: toVw(189);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &_soon {
    color: #888888;
    background: none;
    border: 1px solid var(--graySecondary);
  }

  .btn {
    font-size: toVw(14);
    font-weight: 600;
    max-width: toVw(118);
    width: 100%;
    height: toVw(40);
    padding-top: toVw(5);
    padding-bottom: toVw(5);
    transition: opacity cubic-bezier(.15, .85, .45, 1) .3s, max-height cubic-bezier(.15, .85, .45, 1) .3s;

    &.full {
      max-width: 100%;
      width: 100%;
      border-radius: toVw(10);
      margin-top: toVw(64);
    }

    &.hide {
      max-height: 0;
      opacity: 0;
      pointer-events: none;
    }

    &.show {
      max-height: 100px;
      opacity: 1;
      pointer-events: auto;
    }
  }

  .arrow {
    margin: toVw(31) auto 0;
    width: toVw(33);
    height: toVw(18);
    border-radius: toVw(25);
    background-color: #1d1d1d;
    transition: background-color ease .2s;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: toVw(12);
      display: block;
      width: 100%;
      height: auto;
    }

    &:hover {
      background-color: rgba(29, 29, 29, 0.76);
    }
  }
}

.content {
  margin-bottom: toVw(41);
}

.value {
  font-size: toVw(28);
  font-weight: bold;
  margin-bottom: toVw(4);
}

.course {
  font-size: toVw(14);
}

.btn_top {
  margin-left: auto;
  margin-right: 0;
}

