@import '@/app/_styles/functions.scss';
@import '@/app/_styles/var.scss';

.label {
  text-transform: uppercase;
  margin-bottom: toVw(31);
  font-weight: 600;
  font-size: toVw(18, 768);
  text-align: center;
  @media(max-width: $md5 + px) {
    font-size: toVw(18, $md5);
    margin-bottom: toVw(28, $md5);
    text-align: left;
  }
}

.catalog {
  &__slider {
    .slider {
      @media(max-width: $md5 + px) {
        border-top: 1px solid #33363E;
        padding: toVw(19, 390) toVw(16, 390) 0;
      }
    }

    :global(.swiper-wrapper) {
      min-height: 100%;
    }
  }

  &__slider_omi {

  }
}

.slider {


  .card {
    &_omi {
      @media(max-width: $md5 + px) {
        border: none;
        background: #121212;
        border-radius: toVw(21, 390);
      }
    }
  }
}

.slide {
  &:not(:last-child) {
    .card {
      border-right: none;
    }
  }

  &_omi {
    @media(max-width: $md5 + px) {
      max-width: 95%;
      /*   &:not(:last-child) {
           margin-right: toVw(6, 390);
         }*/
    }
  }
}

.model {
  @media(max-width: $md5 + px) {
    position: absolute;
    top: toVw(19, 390);
    right: toVw(16, 390);
    background-color: #1C1C1C;
    width: toVw(36, 390);
    height: toVw(36, 390);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: toVw(13, 390);
  }
}

.stats {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: toVw(30);
  @media(max-width: $md2 + px) {
    margin-bottom: toVw(30, $md2);
  }
  @media(max-width: $md4 + px) {
    margin-bottom: toVw(30, $md4);
  }
  @media(max-width: $md5 + px) {
    margin-bottom: toVw(44, 390);
  }
}

.img_1 {
  max-width: toVw(10);
  @media(max-width: $md2 + px) {
    max-width: toVw(10, $md2);
  }
  @media(max-width: $md4 + px) {
    max-width: toVw(10, $md4);
  }
  @media(max-width: $md5 + px) {
    max-width: toVw(10, 390);
  }
}

.img_2 {
  max-width: toVw(7);
  @media(max-width: $md2 + px) {
    max-width: toVw(7, $md2);
  }
  @media(max-width: $md4 + px) {
    max-width: toVw(7, $md4);
  }
  @media(max-width: $md5 + px) {
    max-width: toVw(7, 390);
  }
}

.img_3 {
  max-width: toVw(11);
  @media(max-width: $md2 + px) {
    max-width: toVw(11, $md2);
  }
  @media(max-width: $md4 + px) {
    max-width: toVw(11, $md4);
  }
  @media(max-width: $md5 + px) {
    max-width: toVw(11, 390);
  }
}

.stat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: toVw(14);
  font-weight: 600;
  @media(max-width: $md2 + px) {
    font-size: toVw(14, $md2);
  }
  @media(max-width: $md4 + px) {
    font-size: toVw(12, $md4);
  }
  @media(max-width: $md5 + px) {
    font-size: toVw(14, 390);
  }

  &:not(:last-child) {
    margin-right: toVw(18);
    @media(max-width: $md2 + px) {
      margin-right: toVw(12, $md2);
    }
    @media(max-width: $md4 + px) {
      margin-right: toVw(8, $md4);
    }
    @media(max-width: $md5 + px) {
      margin-right: toVw(15, 390);
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: toVw(7);
    @media(max-width: $md5 + px) {
      margin-bottom: toVw(7, 390);
    }
  }
}

.craft {
  @media(max-width: $md5 + px) {
    margin-bottom: toVw(44, 390);
  }
}

.btns {
  padding: 0 toVw(16, 390);
  position: absolute;
  left: 0;
  top: 30%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}

.btn_arrow {
  transition: opacity ease-in .2s;

  &.hide {
    opacity: 0;
    pointer-events: none;
  }

  &_prev {
    transform: rotate(180deg);
  }

  svg {
    fill: #676475;
  }
}
