@import '@/app/_styles/functions.scss';
@import '@/app/_styles/var.scss';

.label {
  text-transform: uppercase;
  margin-bottom: toVw(31);
  font-weight: 600;
  font-size: toVw(18, 768);
  text-align: center;
  @media(max-width: $md5 + px) {
    font-size: toVw(18, $md5);
    margin-bottom: toVw(28, $md5);
    text-align: left;
  }
}

.catalog {
  &__slider {

  }

  &__slider_omi {
    @media(max-width: $md5 + px) {
      padding:0 toVw(16, 390);
    }
  }
}

.slider {

  @media(max-width: $md5 + px) {
    padding-left: toVw(16, 390);
  }
  .card {
    &_omi {
      @media(max-width: $md5 + px) {
        border: none;
        background: #121212;
        border-radius: toVw(21, 390);
      }
    }
  }
}

.slide {
  &:not(:last-child) {
    .card {
      border-right: none;
    }
  }

  &_omi {
    @media(max-width: $md5 + px) {
      max-width: 95%;
      /*   &:not(:last-child) {
           margin-right: toVw(6, 390);
         }*/
    }
  }
}

