@import '@/app/functions.scss';

.btn {
  font-size: toRem(12);
  font-weight: 600;
  border-radius: toRem(17);
  padding: toRem(6) toRem(24) toRem(5);
  background-color: var(--white);
  color: var(--dark);
  transition: background-color ease-in .3s;
  text-align: center;


  &:hover {
    background-color: var(--graySecondary);
  }

  &:disabled {
    background: var(--gray);
    cursor: not-allowed;
  }

  &.blue {
    background-color: var(--secondary);
    color: var(--white);

    &:hover {
      background-color: #1c1ee0;
    }
  }
}
