.text-line {
  transform: translate3d(0, 2.08vw, 0) rotate(.001deg);
  display: block;
  opacity: 0;
  transition: transform 1.2s cubic-bezier(.15, .85, .45, 1), opacity 1.1s cubic-bezier(.32, .94, .6, 1);

  &.animate {
    transform: translate3d(0, 0, 0) rotate(0);
    opacity: 1;
  }
}
