@import 'functions';
@import 'animation';
@import 'var';

@font-face {
  font-weight: 400;
  font-family: 'SFPro';
  src: url('../../../public/fonts/SF-Pro-Display-Regular.woff'), url("../../../public/fonts/SF-Pro-Display-Regular.woff2");
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: 'SFPro';
  src: url('../../../public/fonts/SF-Pro-Display-Medium.woff'), url("../../../public/fonts/SF-Pro-Display-Medium.woff2");
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: 'SFPro';
  src: url('../../../public/fonts/SF-Pro-Display-Semibold.woff'), url("../../../public/fonts/SF-Pro-Display-Semibold.woff2");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: 'SFPro';
  src: url('../../../public/fonts/SF-Pro-Display-Bold.woff'), url('../../../public/fonts/SF-Pro-Display-Bold.woff2');
  font-display: swap;
}

:root {
  --dark: #000;
  --white: #fff;
  --gray: #9B9B9B;
  --graySecondary: #D8D8D8;
  --green: #D6F82E;
  --secondary: #181ab6;
  --gradient-text: linear-gradient(11deg, #D4C9C1 0%, #414345 100%);
  --viewport-desktop: 1920;
  --viewport-mobile: 320;

  --base-size: 16;
  --mob-size: 8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
                    to bottom right,
                    rgba(1, 65, 255, 0),
                    rgba(1, 65, 255, 0),
                    rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
                    #ffffff80,
                    #ffffff40,
                    #ffffff30,
                    #ffffff20,
                    #ffffff10,
                    #ffffff10,
                    #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-size: toVw(16);
  position: relative;
  color: rgb(var(--foreground-rgb));
  background-color: var(--dark);
  color: var(--white);
  overflow-x: hidden;
  @media(max-width: $md2 + px) {
    font-size: toVw(16, $md2);
  }
  @media(max-width: $md3 + px) {
    font-size: toVw(16, $md3);
  }
  @media(max-width: $md4 + px) {
    font-size: toVw(16, $md4);
  }
  @media(max-width: $md5 + px) {
    font-size: toVw(16, 390);
  }

  &.overlay {
    height: 100vh;
    overflow: hidden;

    &::before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      background-color: rgba(0, 0, 0, .7);
      z-index: 9;
    }
  }
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

h1 {
  font-size: toVw(206);
  @media(max-width: $md2 + px) {
    font-size: toVw(180, $md2);
  }
  @media(max-width: $md5 + px) {
    font-size: toVw(80, 390);
  }
}

h2 {
  font-size: toVw(120);
  @media(max-width: $md2 + px) {
    font-size: toVw(120, $md2);
  }
  @media(max-width: $md4 + px) {
    font-size: toVw(80, $md4);
  }
  @media(max-width: $md5 + px) {
    font-size: toVw(80, 390);
  }
}

h3 {
  font-size: toVw(59);
  @media(max-width: $md2 + px) {
    font-size: toVw(59, $md2);
  }
  @media(max-width: $md4 + px) {
  }
  @media(max-width: $md5 + px) {
  }
}

h4 {
  font-size: toVw(40);
  @media(max-width: $md2 + px) {
    font-size: toVw(40, $md2);
  }
  @media(max-width: $md4 + px) {
        font-size: toVw(40, $md4);
  }
  @media(max-width: $md5 + px) {
        font-size: toVw(40, 390);
  }
}

h5 {
  font-size: toVw(25);
  @media(max-width: $md2 + px) {
    font-size: toVw(25, $md2);
  }
  @media(max-width: $md4 + px) {
  }
  @media(max-width: $md5 + px) {
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  padding-top: toVw(60);
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.page-content {
  flex-grow: 1;
}

.container {
  width: 100%;
  padding: 0 toVw(24);
  @media(max-width: $md2 + px) {
    padding: 0 toVw(24, $md2);
  }
  @media(max-width: $md4 + px) {
    padding: 0 toVw(16, $md4);
  }
  @media(max-width: $md5 + px) {
    padding: 0 toVw(16, 390);
  }
}

ul, li {
  list-style: none;
}

button {
  font-family: inherit;
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
}

.color_gray {
  color: var(--gray);
}

.color_green {
  color: var(--green);
}

.gradient-text {
  color: #D4C9C1;

  @supports (--css: variables) {
    background: #D4C9C1;
    background: linear-gradient(119.82deg, #D4C9C1 36.35%, #414345 90.11%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    * {
      background: inherit;
    }
  }
}

.gradient-text_green {
  color: #9DDB85;

  @supports (--css: variables) {
    background: #9DDB85;
    background: linear-gradient(38deg, #9DDB85 14.03%, #A1BF0C 90.67%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    * {
      background: inherit;
    }
  }
}

.row {
  display: block;
  overflow: hidden;
}

.line {
  position: absolute;
  width: 0%;
  height: 0.05vw;
  background: #1D1D1D;
  position: absolute;
  left: 0;
  top: 0;
  transition: width cubic-bezier(.46, .05, .49, .95) .8s;

  &_bottom {
    top: auto;
    bottom: 0;
  }

  &.animate {
    width: 100%;
  }
}

h1, h2, h3, h4 {
  .row {
    position: relative;

    &:nth-child(2) {
      top: -0.5em;
    }

    &:nth-child(3) {
      top: -1em;
    }

    &:nth-child(4) {
      top: -1.5em;
    }
  }
}

.marquee {
  &:not(:first-child) {
    position: relative;
    left: -1px;
  }

  .child {
    border-left: toVw(1) solid #1F1F1F;
    border-right: toVw(1) solid #1F1F1F;

    &:not(:first-child) {
      border-left: none;
    }
  }
}

.swiper {
  padding-bottom: toVw(70, $md4) !important;
  @media(max-width: $md4 + px) {
  }
}

.swiper-wrapper {
  display: flex;
  align-items: stretch !important;
}

.swiper-slide {
  height: auto !important;
}

.swiper-pagination-bullet {
  background: #464646 !important;
  width: toVw(6);
  height: toVw(6);
  @media(max-width: $md2 + px) {
    width: toVw(6);
    height: toVw(6, $md2);
  }
  @media(max-width: $md3 + px) {
    width: toVw(6);
    height: toVw(6, $md3);
  }
  @media(max-width: $md4 + px) {
    width: toVw(6);
    height: toVw(6, $md4);
  }
  @media(max-width: $md5 + px) {
    width: toVw(6);
    height: toVw(6, $md5);
  }

  &-active {
    background: #fff !important;
  }
}
