@import '@/app/_styles/functions.scss';
@import '@/app/_styles/var.scss';

.footer {
  margin-top: toVw(100);
  position: relative;
  padding: toVw(50) 0; /* 3.13vw to rem */
  @media(max-width: $md2 + px) {
    margin-top: toVw(100, $md2);
    padding: toVw(50, $md2) 0;
  }
  @media(max-width: $md4 + px) {
    margin-top: toVw(80, $md4);
    padding: toVw(50, $md4) 0;

  }
  @media(max-width: $md5 + px) {
    margin-top: toVw(80, 390);
    padding: toVw(50, 390) 0;
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media(max-width: $md4 + px) {
      display: block;
    }
  }

  &__left {
    display: flex;
    @media(max-width: $md4 + px) {
      display: block;
      margin-bottom: toVw(73, $md4);
    }
    @media(max-width: $md5 + px) {
      margin-bottom: toVw(73, 390);
    }
  }

  &__right {
    display: flex;
    align-items: center;
    @media(max-width: $md4 + px) {
      display: block;
      margin-bottom: toVw(75, $md4);
    }
    @media(max-width: $md5 + px) {
      margin-bottom: toVw(50, 390);
    }
  }

  &__logo {
    margin-bottom: toVw(22);
    width: toVw(83); /* 5.21vw to rem */
    min-width: toVw(50); /* 3.13vw to rem */
    @media(max-width: $md2 + px) {
      width: toVw(83, $md2);
      min-width: toVw(50, $md2);
      margin-bottom: toVw(22, $md2);
    }
    @media(max-width: $md4 + px) {
      margin: 0 auto toVw(16, $md4);
      width: toVw(93, $md4);
      min-width: toVw(93, $md4);

    }
    @media(max-width: $md5 + px) {
      margin-bottom: toVw(16, 390);
      width: toVw(93, 390);
      min-width: toVw(93, 390);
    }

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__labels {
    font-size: toVw(18); /* 0.94vw to rem */
    line-height: 1.3em;
    @media(max-width: $md2 + px) {
      font-size: toVw(18, $md2);
    }
    @media(max-width: $md4 + px) {
      font-size: toVw(23, $md4);
      text-align: center;
    }
    @media(max-width: $md5 + px) {
      font-size: toVw(23, 390);
    }

    span {
      display: block;
    }
  }

  &__socials {
    display: flex;
    align-items: center;
    margin-right: toVw(70); /* 4.17vw to rem */
    @media(max-width: $md2 + px) {
      margin-right: toVw(70, $md2);
    }
    @media(max-width: $md4 + px) {
      justify-content: center;
      margin-right: auto;
      margin-bottom: toVw(90, $md4);
    }
    @media(max-width: $md5 + px) {
      margin-bottom: toVw(90, 390);
    }

    img {
      display: block;
      height: auto;
      width: 100%;
    }

    .x {
      max-width: toVw(15); /* 0.94vw to rem */
      @media(max-width: $md2 + px) {
        max-width: toVw(15, $md2);
      }
      @media(max-width: $md4 + px) {
        max-width: toVw(22, $md4);
      }
      @media(max-width: $md5 + px) {
        max-width: toVw(22, 390);
      }
    }

    .instagram {
      max-width: toVw(16); /* 1.04vw to rem */
      @media(max-width: $md2 + px) {
        max-width: toVw(16, $md2);
      }
      @media(max-width: $md4 + px) {
        max-width: toVw(25, $md4);
      }
      @media(max-width: $md5 + px) {
        max-width: toVw(25, 390);
      }
    }

    .fb {
      max-width: toVw(17); /* 1.09vw to rem */
      @media(max-width: $md2 + px) {
        max-width: toVw(17, $md2);
      }
      @media(max-width: $md4 + px) {
        max-width: toVw(22, $md4);
      }
      @media(max-width: $md5 + px) {
        max-width: toVw(22, 390);
      }
    }

    .medium {
      max-width: toVw(23); /* 1.46vw to rem */
      @media(max-width: $md2 + px) {
        max-width: toVw(23, $md2);
      }
      @media(max-width: $md4 + px) {
        max-width: toVw(36, $md4);
      }
      @media(max-width: $md5 + px) {
        max-width: toVw(36, 390);
      }
    }

    .discord {
      max-width: toVw(20); /* 1.25vw to rem */
      @media(max-width: $md2 + px) {
        max-width: toVw(20, $md2);
      }
      @media(max-width: $md4 + px) {
        max-width: toVw(31, $md4);
      }
      @media(max-width: $md5 + px) {
        max-width: toVw(31, 390);
      }
    }
  }

  &__socials-link {
    width: 100%;

    &:not(:last-child) {
      margin-right: toVw(29); /* 1.82vw to rem */
      @media(max-width: $md2 + px) {
        margin-right: toVw(29, $md2);
      }
      @media(max-width: $md4 + px) {
        margin-right: toVw(44, $md2);
      }
      @media(max-width: $md5 + px) {
        margin-right: toVw(44, 390);
      }
    }
  }

  &__btns {
    display: flex;
    @media(max-width: $md4 + px) {
      justify-content: center;
    }
  }

  &__btn {
    color: #fff;
    border: none;
    outline: none;

    &:not(:last-child) {
      margin-right: toVw(6); /* 0.36vw to rem */
    }
  }

  &__text {
    font-size: toVw(10); /* 0.52vw to rem */
    color: var(--gray);
    margin-bottom: toVw(72); /* 2.92vw to rem */
    line-height: 1.5em;

    a {
      text-decoration: underline;
      transition: color 0.3s ease;

      &:hover {
        color: #fff;
      }
    }
  }

  &__copy {
    font-size: toVw(14); /* 0.73vw to rem */
  }
}

.col {
  &:not(:last-child) {
    margin-right: toVw(125);
  }
}

.lists {
  display: flex;
  @media(max-width: $md4 + px) {
    justify-content: center;
    font-size: toVw(18, $md4);
  }
  @media(max-width: $md5 + px) {
    justify-content: flex-start;
    font-size: toVw(16, 390);
  }
}

.links {
  &:not(:last-child) {
    margin-right: toVw(36);
    @media(max-width: $md4 + px) {
      margin-right: toVw(55, $md4);
    }
    @media(max-width: $md5 + px) {
      margin-right: toVw(55, 390);
    }
  }
}

.elem {
  &:not(:last-child) {
    margin-bottom: toVw(5);
    @media(max-width: $md4 + px) {
      margin-bottom: toVw(5, $md4);
    }
    @media(max-width: $md5 + px) {
      margin-bottom: toVw(5, 390);
    }
  }
}

.link {
  transition: color ease .2s;
  color: #fff;

  &:hover {
    color: var(--gray);
  }
}

.app-btn {
  border-radius: toVw(6); /* 0.36vw to rem */
  background-color: rgba(32, 32, 32, 0.71);
  //-webkit-backdrop-filter: blur(toVw(12)); /* 0.78vw to rem */
  //backdrop-filter: blur(toVw(12)); /* 0.78vw to rem */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: toVw(13) toVw(27) toVw(12) toVw(26); /* .42vw .85vw .4vw .83vw to rem */
  text-transform: capitalize;
  font-size: toVw(12); /* 0.73vw to rem */
  font-weight: 500;
  letter-spacing: -0.01em;
  transition: background-color ease-in-out 0.3s;
  white-space: nowrap;
  cursor: pointer;
  @media(max-width: $md2 + px) {
    font-size: toVw(12, $md2);
    border-radius: toVw(6, $md2);
    padding: toVw(13, $md2) toVw(27, $md2) toVw(12, $md2) toVw(26, $md2);
  }
  @media(max-width: $md4 + px) {
    min-width: toVw(250, $md4);
    font-size: toVw(15, $md4);
    border-radius: toVw(10, $md4);
    padding: toVw(20, $md4) toVw(20, $md4) toVw(20, $md4) toVw(20, $md4);
  }
  @media(max-width: $md5 + px) {
    width: 100%;
    min-width: toVw(167, 390);
    font-size: toVw(15, 390);
    border-radius: toVw(10, 390);
    padding: toVw(12, 390) toVw(20, 390) toVw(12, 390) toVw(20, 390);
  }

  &:hover {
    background-color: rgba(51, 51, 51, 0.71);
  }

  &:not(:last-child) {
    margin-right: toVw(8); /* 0.5vw to rem */
    @media(max-width: $md2 + px) {
      margin-right: toVw(8, $md2);
    }
    @media(max-width: $md4 + px) {
      margin-right: toVw(8, $md4);
    }
    @media(max-width: $md5 + px) {
      margin-right: toVw(8, 390);
    }
  }

  &__icon {
    flex: 0 0 toVw(17);
    max-width: toVw(17);
    display: block;
    width: 100%;
    height: auto;
    margin-right: toVw(5);
    @media(max-width: $md2 + px) {
      flex: 0 0 toVw(17, $md2);
      max-width: toVw(17, $md2);
      margin-right: toVw(5, $md2);
    }
    @media(max-width: $md4 + px) {
      flex: 0 0 toVw(17, $md4);
      max-width: toVw(17, $md4);
      margin-right: toVw(5, $md4);
    }
    @media(max-width: $md5 + px) {
      flex: 0 0 toVw(24, 390);
      max-width: toVw(24, 390);
      margin-right: toVw(9, 390);
    }
  }
}
