@import '@/app/_styles/functions.scss';

.bag {
  padding: toVw(55) 0 0;
  }

.cart {
  flex-grow: 1;
  margin-right: toVw(87);
  position: relative;
}

.wrapper {
  display: flex;
  align-items: flex-start;
}

.calc {
  position: sticky;
  top: toVw(100);
  max-width: toVw(391);
  width: 100%;
  background: #111111;
  padding: toVw(46) toVw(48) toVw(52);
  border-radius: toVw(14);

  &__top {
    margin-bottom: toVw(36);
  }
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;

  &:not(:last-child) {
    margin-bottom: toVw(15);
  }

  &__label {
    white-space: nowrap;
    color: var(--gray);
  }

  &__value {
    white-space: nowrap;
  }
}

.input {
  height: toVw(53);
  width: 100%;
  margin-bottom: toVw(45);
}

.checkout__btn {
  height: toVw(53);
}
