@import '@/app/_styles/functions.scss';
@import '@/app/_styles/var.scss';

.card {
  width: 100%;
  //max-width: toVw(353);

  &.omis {
    .img {
      max-width: toVw(102);
      @media(max-width: $md2 + px) {
        max-width: 45%;
      }
    }

    //max-width: toVw(353);
  }
}

.model {
  position: absolute;
  top: toVw(15);
  right: toVw(21);
  width: toVw(28);
  height: toVw(28);
  border-radius: 50%;
  background-color: #1B1A20;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: toVw(13);
  line-height: 1.2em;
  @media(max-width: $md2 + px) {
    top: toVw(15, $md2);
    right: toVw(21, $md2);
    width: toVw(28, $md2);
    height: toVw(28, $md2);
    font-size: toVw(13, $md2);
  }
  @media(max-width: $md3 + px) {
    top: toVw(15, $md3);
    right: toVw(21, $md3);
    width: toVw(28, $md3);
    height: toVw(28, $md3);
    font-size: toVw(13, $md3);
  }
  @media(max-width: $md4 + px) {
    top: toVw(15, $md4);
    right: toVw(21, $md4);
    width: toVw(28, $md4);
    height: toVw(28, $md4);
    font-size: toVw(13, $md4);
  }
  @media(max-width: $md5 + px) {
    display: none;
  }
}

.img {
  max-width: toVw(209);
  width: 100%;
  margin: 0 auto toVw(50);
  @media(max-width: $md2 + px) {
    max-width: 50%;
    margin-bottom: toVw(50, $md2);
  }
  @media(max-width: $md4 + px) {
    margin-bottom: toVw(35, $md4);
  }
  @media(max-width: $md5 + px) {
    max-width: 100%;
    margin-bottom: toVw(20, 390);
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.info {
  display: flex;
  justify-content: center;
  @media(max-width: $md5 + px) {

  }

  &.row {
    align-items: center;
    justify-content: space-between;
    padding-left: toVw(15);
    @media(max-width: $md5 + px) {
      padding-left: 0;
      justify-content: center;
    }
  }
}

.stats {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.img_1 {
  max-width: toVw(10);
  @media(max-width: $md2 + px) {
    max-width: toVw(10, $md2);
  }

  @media(max-width: $md4 + px) {
    max-width: toVw(10, $md4);
  }

  @media(max-width: $md5 + px) {
    max-width: toVw(10, 390);
  }
}

.img_2 {
  max-width: toVw(7);
  @media(max-width: $md2 + px) {
    max-width: toVw(7, $md2);
  }

  @media(max-width: $md4 + px) {
    max-width: toVw(7, $md4);
  }

  @media(max-width: $md5 + px) {
    max-width: toVw(7, 390);
  }
}

.img_3 {
  max-width: toVw(11);
  @media(max-width: $md2 + px) {
    max-width: toVw(11, $md2);
  }

  @media(max-width: $md4 + px) {
    max-width: toVw(11, $md4);
  }

  @media(max-width: $md5 + px) {
    max-width: toVw(11, 390);
  }
}

.img_4 {
  max-width: toVw(10.7);
  @media(max-width: $md2 + px) {
    max-width: toVw(10.7, $md2);
  }
  @media(max-width: $md4 + px) {
    max-width: toVw(10.7, $md4);
  }
  @media(max-width: $md5 + px) {
    max-width: toVw(10.7, 390);
  }
}

.stat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: toVw(14);
  font-weight: 600;
  @media(max-width: $md2+ px) {
    font-size: toVw(14, $md2);
  }
  @media(max-width: $md3+ px) {
    font-size: toVw(14, $md3);
  }
  @media(max-width: $md4+ px) {
    font-size: toVw(14, $md4);
  }
  @media(max-width: $md5+ px) {
    font-size: toVw(14, 390);
  }

  &:not(:last-child) {
    margin-right: toVw(18);
    @media(max-width: $md3 + px) {
      margin-right: toVw(14, $md3);
    }
    @media(max-width: $md5 + px) {
      margin-right: toVw(18, 390);
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: toVw(4);
  }
}

.quality {
  min-width: toVw(94);
  border: 1px solid #333;
  padding: toVw(8) toVw(14) toVw(7);
  font-size: toVw(12);
  border-radius: toVw(18);
  @media(max-width: $md2+ px) {
    font-size: toVw(12, $md2);
    padding: toVw(8, $md2) toVw(14, $md2) toVw(7, $md2);
    border-radius: toVw(18, $md2);
    min-width: toVw(94, $md2);
  }
  @media(max-width: $md3+ px) {
    font-size: toVw(12, $md3);
    border-radius: toVw(18, $md3);
  }
  @media(max-width: $md4+ px) {
    font-size: toVw(12, $md4);
    padding: toVw(8, $md4) toVw(14, $md4) toVw(7, $md4);
    min-width: toVw(94, $md4);
    border-radius: toVw(18, $md4);
  }
  @media(max-width: $md5+ px) {
    display: none;
  }
}
