@import '@/app/_styles/functions.scss';

.card {
  width: 100%;
  max-width: toVw(353);

  &.omis {
    max-width: toVw(353);
  }
}

.model {
  position: absolute;
  top: toVw(15);
  right: toVw(21);
  width: toVw(28);
  height: toVw(28);
  border-radius: 50%;
  background-color: #1B1A20;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: toVw(13);
  line-height: 1.2em;
}

.img {
  max-width: toVw(120);
  width: 100%;
  margin: 0 auto toVw(50);

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.info {
  display: flex;
  justify-content: center;

  &.row {
    align-items: center;
    justify-content: space-between;
    padding-left: toVw(15);
  }
}

.stats {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.img_1 {
  max-width: toVw(10);
}

.img_2 {
  max-width: toVw(7);
}

.img_3 {
  max-width: toVw(11);
}

.img_4 {
  max-width: toVw(10.7);
}

.stat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: toVw(14);
  font-weight: 600;

  &:not(:last-child) {
    margin-right: toVw(18);
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: toVw(4);
  }
}

.quality {
  min-width: toVw(94);
  border: 1px solid #333;
  padding: toVw(8) toVw(14) toVw(7);
  font-size: toVw(12);
  border-radius: toVw(18);
}
