@import '@/app/_styles/functions.scss';
@import '@/app/_styles/var.scss';

.wrapper {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  overflow: auto;
  padding: toVw(20);
  transition: opacity ease-in .3s .1s;


  &.show {
    opacity: 1;
    pointer-events: auto;

    .modal {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.modal {
  position: relative;
  padding: toVw(65) toVw(30) toVw(65) toVw(30);
  background: #111111;
  border-radius: toVw(31);
  width: 100%;
  transform: scale(0.9);
  opacity: 0;
  transition: opacity ease-in .3s, transform ease-in .3s;
  margin: 0 auto;
  @media(max-width: $md4 + px) {
    padding: toVw(40, $md4) toVw(15, $md4);
    border-radius: toVw(31, $md4);
  }
  @media(max-width: $md5 + px) {
    padding: toVw(40, 390) toVw(15, 390);
  }
}

.close {
  position: absolute;
  top: toVw(22);
  right: toVw(22);
  transition: fill ease .2s;
  @media(max-width: $md4 + px) {
    top: toVw(22, $md4);
    right: toVw(22, $md4);
  }

  &:hover {
    svg {
      fill: #484848;
    }
  }

  svg {
    fill: #333;
  }

}
