@import '@/app/_styles/functions.scss';

.block {
  font-size: 18px;
  font-weight: 600;
  position: relative;
}

.label {
  display: block;
  margin-bottom: toRem(20);
  color: #5A5A5A;
}

.input {
  font-family: inherit;
  display: block;
  text-align: center;
  outline: none;
  border-radius: 9px;
  background-color: #1B1B1B;
  border: 1px solid #1B1B1B;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: toRem(20) toRem(15) toRem(22);
  transition: all ease-in .3s;
  width: 100%;

  &.line {
    border: none;
    border-bottom: 1px solid #1b1b1b;
    background-color: transparent;
    text-align: left;
    border-radius: 0;
    padding-left: 0;

    &:hover {
      background-color: transparent;
    }

    &::placeholder {
      text-align: left;
    }
  }

  &:focus {
    border-color: #3f3f3f;

    &::placeholder {
      color: transparent;
    }
  }

  &:hover {
    background-color: #2d2d2d;
    border-color: #2d2d2d;
  }

  &::placeholder {
    text-align: center;
    color: #5A5A5A;
  }
}

.eye {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  &:hover {
    svg {
      fill: rgba(255, 255, 255, 1);
    }
  }

  svg {
    transition: fill ease-in .2s;
    fill: rgba(255, 255, 255, .2);
  }
}
