@import '@/app/_styles/functions.scss';

.card {
  width: toVw(119);
  border-radius: toVw(26);
  background-color: #1B1C1D;
  padding: toVw(13) toVw(15) toVw(19);
  font-size: toVw(14);
}

.img {
  display: block;
  margin-bottom: toVw(22);
}

.label {
  font-weight: 500;
  margin-bottom: toVw(5);
}

.value {
}
