@import '@/app/_styles/functions.scss';
@import '@/app/_styles/var.scss';

.mob-menu {
  position: fixed;
  top: 0;
  pointer-events: none;
  padding: toVw(100, 390) 0 toVw(50, 390);
  background: #000;
  z-index: 9;
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  overflow: auto;
  opacity: 0;
  transition: opacity ease-in .3s;

  &.show {
    pointer-events: auto;
    opacity: 1;
  }

  .link {
    display: block;
    text-transform: capitalize;
    font-weight: 600;
    font-size: toRem(17);
    padding: toRem(15) 0;
    letter-spacing: 0.03em;
    transition: all ease-in .3s;
    white-space: nowrap;
    border-bottom: 1px solid #313131;

    &:hover {
      color: var(--graySecondary);
    }

    &.active {
      color: var(--graySecondary);
    }

    &_login {
      color: var(--green);
      margin-top: toVw(40, 390);

      &:hover {
        color: #b2ce27;
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}

.links {
  margin-bottom: toVw(30, 390);
}

.socials-links {
  margin-bottom: toVw(50, 390);
}

.label {
  font-size: toVw(18, 390);
  color: #333333;
  margin-bottom: toVw(10, 390);
}

.socials {
  display: flex;
  gap: toVw(45, 390);
}
