@import '@/app/_styles/functions.scss';
@import '@/app/_styles/var.scss';

.mob-menu {
  position: fixed;
  top: 0;
  pointer-events: none;
  padding: toVw(100, 390) 0 toVw(50, 390);
  background: #000;
  z-index: 9;
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  overflow: auto;
  opacity: 0;
  transition: opacity ease-in .3s;

  &.show {
    pointer-events: auto;
    opacity: 1;
  }

  .link {
    display: block;
    text-transform: capitalize;
    width: fit-content;
    font-weight: 600;
    font-size: toRem(30);
    letter-spacing: 0.03em;
    transition: all ease-in .3s;
    white-space: nowrap;

    &:not(:last-child) {
      margin-bottom: toVw(10, 390);
      @media(max-width: $md5 + px) {
        margin-bottom: toVw(10, 390);
      }
    }

    &:hover {
      color: var(--graySecondary);
    }

    &.active {
      color: var(--graySecondary);
    }
    &_login{
      color: var(--green);
      margin-top: toVw(40, 390);
      &:hover{
        color: #b2ce27;
      }
    }
  }

}



.links {
  margin-top: toVw(60, 390);
  font-size: toVw(22, 390);
}

.label {
  font-size: toVw(14, 390);
  color: #333333;
  margin-bottom: toVw(10, 390);
}

.elem {
  display: block;
  width: fit-content;
  font-size: toVw(21, 390);
  transition: color ease-in .3s;

  &:hover {
    color: var(--graySecondary);
  }

  &:not(:last-child) {
    margin-bottom: toVw(10, 390);
  }
}
